@layer components {
  .movement {
    &[data-movement='light'] {
      &::after {
        background-image: radial-gradient(circle closest-side, var(--color-white), transparent);

        @apply opacity-30;
      }

      @media (hover: hover) {
        &:hover::after {
          @apply size-60;
        }
      }
    }

    &[data-movement='blend'] {
      &::after {
        @apply rounded-full bg-white mix-blend-difference;
      }

      @apply relative;

      @media (hover: hover) {
        &:hover::after {
          @apply size-16;
        }
      }
    }

    &::after {
      transform: translate(-50%, -50%) translate(var(--x), var(--y));
      transition-timing-function: ease;
      transition-duration: 300ms;
      transition-property: width, height;

      @apply content-auto pointer-events-none absolute top-0 left-0 z-1 size-0;
    }
  }
}
