{% set data = {
  title: 'My library',
  status: true
} %}
{% extends 'src/layouts/base.njk' %}
{% import 'src/components/test.njk' as test %}

{% block content %}

{{ test.render(text='Стандартный текст') }}

<div class="wrapper shadow-2xl dark:bg-zinc-800 text-3xl hover:opacity-90 py-8 rounded-3xl bg-primary md:grid-cols-2 text-white grid gap-6 mb-6 h-250">
  <p class="font-alt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero reprehenderit, consequatur maiores eveniet quidem eligendi iure, tempora, sint delectus inventore odio maxime atque exercitationem consequuntur porro perferendis omnis laboriosam cumque.</p>
</div>

<div class="font-alt bg-black text-5xl text-white/20 mb-8">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti ratione saepe eveniet vitae consectetur asperiores omnis eaque, id similique. Accusantium voluptatibus cupiditate sint tempora laborum ipsam dicta voluptatem pariatur minus?
</div>

<div class="card block">
  dsdsdsds
</div>

{% endblock %}