{% set data = {
  title: 'Second page',
  status: false
} %}

{% extends 'src/layouts/base.njk' %}

{% import 'src/components/subtitle.njk' as subtitle %}
{% import 'src/includes/top.njk' as top %}
{% import 'src/includes/world.njk' as world %}

{% block content %}

{# Second page #}

{{ top.render(text = data.title) }}

{# Сетка #}

<section class="wrapper flex flex-col items-center justify-center bg-white dark:bg-black overflow-hidden" id="content">
  {{ subtitle.render(text = 'GridBox', className = 'mb-3', data = 'data-anim data-movement="blend"') }}
  <h3 class="font-semibold sm:text-lg mb-5 sm:mb-10" data-anim data-movement="blend">
    Columns and rows
  </h3>
  <div class="grid grid-cols-2 lg:grid-cols-3 grid-flow-row-dense lg:auto-rows-12 gap-3 md:gap-5 lg:gap-8 w-full">
    {% for item in ['lg:row-span-5', 'lg:row-span-4', 'lg:row-span-5', 'lg:row-span-5', 'lg:row-span-4', 'lg:row-span-4'] %}
    <div class="{{ item }}" data-anim>
      <a class="aspect-square lg:aspect-auto block relative bg-grey dark:bg-dark rounded-xl overflow-hidden shadow-md h-full" data-media data-movement="light" data-fancybox="grid" draggable="false" href="/img/pictures/test-gray.jpg">
        {{ loader.render() }}
        {{ image.render(src = '#', className = 'media rounded-inherit', data = 'data-lazy data-src="/img/pictures/test-gray.jpg"') }}
      </a>
    </div>
    {% endfor %}
  </div>
</section>

{# Сравнение #}

<section class="wrapper xl:wrapper-distance flex flex-col items-center justify-between bg-grey dark:bg-dark">
  {{ subtitle.render(text = 'Comparison', className = 'mb-8', data = 'data-anim data-movement="blend"') }}
  <div class="relative bg-grey dark:bg-dark rounded-2xl overflow-hidden w-full" data-anim data-compare>
    <div class="relative bg-grey dark:bg-dark rounded-inherit overflow-hidden" data-media>
      {{ loader.render() }}
      {{ image.render(src = '#', className = 'relative rounded-inherit w-full', data = 'data-lazy data-src="/img/pictures/test.jpg"') }}
    </div>
    <div class="absolute top-0 left-0 bottom-0 bg-grey dark:bg-dark overflow-hidden w-1/2" data-compare-before data-media>
      {{ loader.render() }}
      {{ image.render(src = '#', className = 'media', data = 'data-compare-image data-lazy data-src="/img/pictures/test-gray.jpg"') }}
    </div>
    <div class="flex items-center justify-center absolute top-0 bottom-0 left-1/2 bg-white dark:bg-black -translate-x-1/2 w-1 h-[95%] my-auto" data-compare-change>
      <button class="btn btn-primary btn-fill rounded-full shrink-0 cursor-col-resize size-12">
        {{ icon.render(id = 'arrows', className = 'icon text-xl') }}
      </button>
    </div>
  </div>
</section>

{# Сортировка #}

<section class="wrapper flex flex-col items-center justify-center bg-white dark:bg-black">
  {{ subtitle.render(text = 'Sorting', className = 'mb-8', data = 'data-anim data-movement="blend"') }}
  <div class="w-full max-w-xl mx-auto" data-filtering="sorting">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-0 md:gap-4 relative bg-grey md:bg-transparent text-second md:text-black md:dark:text-white rounded-2xl md:rounded-none md:border-b md:border-solid md:border-gray overflow-hidden md:pb-4 mb-5 md:mb-10" data-anim>
      {% for item in ['all', 'primary', 'second', 'green', 'mix', 'none'] %}
      <button class="text-xl grow p-4 md:p-0 data-active:bg-second md:data-active:bg-transparent data-active:text-white md:data-active:text-primary data-active:pointer-events-none" data-filtering-category="sorting" data-filtering-value="{{ item }}" {{ 'data-active' if loop.first else '' | safe }}>
        {{ item }}
      </button>
      <span class="hidden md:block absolute bottom-0 left-0 bg-primary rounded-t-lg transition-[left,width] ease-linear h-1" data-filtering-line="sorting"></span>
      {% endfor %}
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 md:gap-10">
      {% for i in range(0, 3) %}
      <div class="bg-primary py-10" data-filtering-card="sorting" data-filtering-value="primary mix"></div>
      <div class="bg-second py-10" data-filtering-card="sorting" data-filtering-value="second"></div>
      <div class="bg-green py-10" data-filtering-card="sorting" data-filtering-value="green mix"></div>
      {% endfor %}
      <div class="font-alt uppercase text-lg" data-filtering-plug="sorting">Empty</div>
    </div>
  </div>
</section>

{# Счетчик #}

<section class="wrapper xl:wrapper-distance flex flex-col items-center justify-center bg-grey dark:bg-dark">
  {{ subtitle.render(text = 'Counter of time', className = 'mb-8', data = 'data-anim data-movement="blend"') }}
  <div class="flex items-center justify-center bg-white dark:bg-black text-primary rounded-3xl shadow-md w-full py-7 sm:py-10 px-4 sm:px-10" data-anim data-counter data-year="2027" data-month="1" data-day="1">
    <h3 class="hidden font-alt font-semibold text-center text-xl sm:text-3xl w-full" data-counter-subtitle>
      Times up
    </h3>
    <div class="flex justify-between gap-4 text-center w-full" data-counter-timer>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-2xl sm:text-3xl" data-counter-unit>0</span>
        <span class="text-base sm:text-2xl">Days</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-2xl sm:text-3xl" data-counter-unit>0</span>
        <span class="text-base sm:text-2xl">Hours</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-2xl sm:text-3xl" data-counter-unit>0</span>
        <span class="text-base sm:text-2xl">Minutes</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-2xl sm:text-3xl" data-counter-unit>0</span>
        <span class="text-base sm:text-2xl">Seconds</span>
      </time>
    </div>
  </div>
</section>

{# Время #}

<section class="wrapper flex flex-col items-center justify-center bg-white dark:bg-black">
  {{ subtitle.render(text = 'Timer', className = 'mb-8', data = 'data-anim data-movement="blend"') }}
  <div class="flex flex-col items-center justify-center relative bg-primary rounded-full size-72 mx-auto" data-timer>
    <div class="flex flex-col items-center absolute top-0 left-0 right-0 text-second transition-transform origin-bottom duration-100 ease-linear pointer-events-none w-0.5 h-1/2 mx-auto after:content-auto after:block after:relative after:-top-2 after:bg-current after:rounded-full after:size-4" data-timer-stopwatch></div>
    <time class="font-semibold text-white text-center text-2xl mb-5" data-timer-units></time>
    <div class="flex items-center justify-center gap-4">
      <button class="btn btn-second btn-fade rounded-full shrink-0 size-10" data-timer-turn data-waved="dark">
        {{ icon.render(id = 'play', className = 'icon text-4xl') }}
      </button>
      <button class="btn btn-second btn-text btn-sm" data-timer-reset data-waved="dark">Reset</button>
    </div>
  </div>
</section>

{# Мир #}

{{ world.render() }}

{% endblock %}