{% macro render(id, className = none, data = none) %}
<svg {{ (('class="' ~ className ~ '"') if className != none else '') | safe }} {{ (data if data != none else '') | safe }}>
  <use href="/img/icons.svg#{{ id }}"></use>
</svg>
{% endmacro %}