{% macro render(src, format = none, className = none, data = none) %}
{% set loading = none %}

{% if format == 'jpg' %}
{% set loading = 'lazy' %}
{% elif format == 'png' %}
{% set loading = 'eager' %}
{% endif %}

{% set source = none %}

{% if src == '#' %}
{% set source = '#' %}
{% elif src != '' %}
{% set source = src ~ '.' ~ format %}
{% endif %}

<img {{ (('class="' ~ className ~ '"') if className != none else '') | safe }} {{ (data if data != none else '') | safe }} draggable="false" {{ (('loading="' ~ loading ~ '"') if loading != none else '') | safe }} {{ (('src="' ~ source ~ '"') if source != none else '') | safe }} alt="" />
{% endmacro %}