{% import 'src/components/icon.njk' as icon %}

{% macro render(className = none) %}
<div class="loader {{ (className if className != none else '') | safe }}" data-loader>
  <span class="loader-progress">
    {{ icon.render(id = 'loader', className = 'loader-icon icon') }}
  </span>
</div>
{% endmacro %}