{% macro render() %}
<div class="preloader">
  <div class="preloader-square"></div>
  <div class="preloader-square"></div>
  <div class="preloader-square"></div>
  <div class="preloader-square"></div>
</div>
{% endmacro %}