{% macro render(text, className = none, data = none) %}
<h2 class="font-alt font-bold text-center text-4xl lg:text-5xl {{ (className if className != none else '') | safe }}" {{ (data if data != none else '') | safe }}>
  {{ text }}
</h2>
{% endmacro %}