{% import 'src/components/icon.njk' as icon %}
{% import 'src/components/image.njk' as image %}
{% import 'src/components/error.njk' as error %}

<div class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-80 max-w-full px-5 py-10">
  <form data-form="avatar">
    <input type="hidden" value="Тема" name="theme">
    <div data-preview="avatar" data-size="1">
      <div class="relative mb-5">
        <div class="aspect-square relative bg-primary rounded-full overflow-hidden transition-opacity w-1/2 mx-auto" data-preview-drag>
          <div class="flex items-center justify-center absolute inset-0 rounded-inherit pointer-events-none">
            {{ icon.render(id = 'user', className = 'icon text-white dark:text-black text-6xl') }}
          </div>
          {{ image.render(src = '', className = 'media rounded-inherit', data = 'data-preview-image') }}
        </div>
        {{ error.render() }}
      </div>
      <div class="flex flex-wrap items-center justify-between gap-4 w-full">
        <label class="btn btn-second btn-fill btn-lg grow" data-preview-label data-waved="dark">
          <input hidden data-preview-input type="file" name="file[]">
          Загрузить
        </label>
        <button class="btn btn-second btn-fade btn-contur btn-lg grow" data-preview-remove data-waved="light" type="button" disabled>Удалить</button>
      </div>
    </div>
    <button hidden type="submit"></button>
  </form>
</div>