{% import 'src/components/icon.njk' as icon %}
{% import 'src/components/image.njk' as image %}
{% import 'src/components/loader.njk' as loader %}

<div class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-190 max-w-full px-5 py-10">
  <div class="flex flex-wrap items-center justify-between gap-5" data-filtering="calendar">
    <div data-datepicker-calendar></div>
    <div class="w-full md:w-1/2">
      {% for item in ['5-9-2026', '7-9-2026', '10-10-2026'] %}
      <div class="aspect-4/3 relative bg-gray rounded-2xl overflow-hidden w-full" data-filtering-card="calendar" data-filtering-value="{{ item }}" data-media>
        {{ loader.render() }}
        {{ image.render(src = '#', className = 'media rounded-t-inherit', data = 'data-lazy data-src="/img/pictures/test.jpg"') }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>