{% import 'src/components/image.njk' as image %}
{% import 'src/components/icon.njk' as icon %}

<!doctype html>
<html data-domain="localhost" data-source="http://localhost:9000" lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="autor" content="//STDKIT" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
  <title>
    {{ data.title }}
  </title>
  <script type="module" src="/src/application.ts"></script>
</head>

<body class="dark:bg-black dark:text-white">

  {# Прелоадер #}

  <div class="flex items-center justify-center fixed inset-0 z-50 bg-white dark:bg-black transition-[opacity,visibility]" data-preloader>
    <div class="preloader">
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
    </div>
  </div>

  {# Прогресс прокрутки страницы #}

  <div class="progress-bar hidden lg:block fixed inset-0 z-30 bg-primary h-1"></div>

  {# Заголовок #}

  <header class="wrapper flex items-center justify-between gap-5 sticky top-0 z-30 bg-black transition-transform duration-300 py-4" data-header>
    <a class="btn btn-white shrink-0 w-36" data-waved="light" draggable="false" href="/">
      {{ image.render(src = '/img/pictures/logo', format = 'png', className = 'w-full') }}
    </a>
    {{ icon.render(id = 'loader', className = 'icon text-primary text-4xl') }}
  </header>

  {# Контент #}

  <main>
    {% block content %}{% endblock %}
  </main>

  {# Подвал #}

  <footer>footer</footer>

</body>

</html>